<h5>Type positions for get the Directions then clic to ADD</h5>
<label>Position1:</label>
<input type="number" [(ngModel)]="position1"/>
<br><br>
<label>Position2:</label>
<input type="number" [(ngModel)]="position2"/>
<br>
<br>
<button (click)="add()" [disabled]="!validInput()">Add</button>
<br>
<br>

<table border>
  <tr>
    <th>Position1</th>
    <th>Position2</th>
    <th>Direction</th>
  </tr>
  <tbody>
  <tr *ngFor="let pos of this.array">
    <td>{{pos.x}}</td>
    <td>{{pos.y}}</td>
    <td>{{pos.direction}}</td>
  </tr>
  </tbody>
</table>
